@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 90px;
    margin: auto;
}
/*Navbar Styling */

.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', 'sans-serif';
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    z-index: 999;
}
.navbar.sticky{
    padding:  15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;

}
.navbar .logo a span{
    color:crimson;
    transition: all .3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    text-transform: capitalize;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 25px;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}

.navbar.sticky .menu li a:hover{
    color: rgba(2, 1, 17, 0.938);
}
button{
    border:none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 45px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    opacity: .1;
    pointer-events: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
   .scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* home Section Styling */
.home{
    display: flex;
    background: url('../img/3 - Copy.JPG') no-repeat center;
    height: 100vh;
    background-size: cover;
    min-height: 500px;
    color: #fff;
    /* min-height: 500px; */
    font-family: 'Ubuntu', 'sans-serif';
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;

}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    text-transform: capitalize;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content span{
    color: crimson;
    font-weight: 700;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}
.home .home-content a:hover{
    color:#fff;
    background:none;
}
.menu-btn{
    font-size: 23px;
    color: #fff;
    cursor: pointer;
    display: none;

}

/* all Similar styling code About/my Service/Skills Start */
section{
    padding:100px 0;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'poppins', 'sans-serif';

}
.about .about-content,
.services .service-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: space-between;
}
.about{
    background: linear-gradient(rgba(250, 250, 250, 0.9), rgb(255, 255, 255)), url(../img/laptop2.jpg);

}
section .title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', 'sans-serif';
    position: relative;
    text-transform: capitalize;
 }
 section .title::before{
     content: "";
     position: absolute;
     bottom: 0px;
     left: 50%;
     width: 180px;
     height: 3px;
     background: #111;
     transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/* all Similar styling code End */

 /* About Section Styling */

.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;

}
 .about .about-content .left img{
     height: 400px;
     width: 400px;
     object-fit: cover;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

/* Services Section styling :start */
.services, .teams{
    background: #111;
    color: #fff;
}

.services{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgb(0, 0, 8)), url(../img/laptop3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: #111;
    content: "what i provide";
}
.services .service-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    padding:10px ;


}
.services .service-content .card:hover{
    background: crimson;
}
.services .service-content .card .box{
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.services .service-content .card:hover .box{
   transform: scale(1.05);
   -webkit-transform: scale(1.05);
   -moz-transform: scale(1.05);
   -ms-transform: scale(1.05);
   -o-transform: scale(1.05);
   margin-bottom: 10px;
}

.services .service-content .card i{
    font-size: 50px;
    color: crimson;
    margin: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.services .service-content .card:hover i{
    color: #fff;
}
.services .service-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* skills Section styling Start */
.skills .title::after{
    content: "what i know";

}

.skills{
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgb(255, 255, 255)), url(../img/slider4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
    text-decoration: underline;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-size: 18px;
    font-weight: 500;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;

}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background: crimson;

}
.skills .skills-content .right .html::before{
    width: 90%;
}
.skills .skills-content .right .css::before{
    width: 70%;
}
.skills .skills-content .right .js::before{
    width: 60%;
}

.skills .skills-content .right .php::before{
    width: 83%;
}
.skills .skills-content .right .mysqul::before{
    width: 70%;
}

 /* Teams section styling */

 .teams .title::after{
     content: "who with me";
 }

 .teams{
    background: linear-gradient(rgba(1, 1, 1, 0.9), rgb(3, 3, 0.5)), url(../img/people.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .teams .carousel .card {
    background: #222;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: crimson;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

 .teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;

}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot.active{
    width: 35px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson !important;
}

 /* contact Section Styling Start */

 .contact .title::after{
     content: "get in touch";

 }
 section .title::before{
    background: red;
 }
.contact .contact-content .column{
    width: calc(50% - 25px);

}

.contact{
    color: #fff;
    background: linear-gradient(to right, rgba(35, 9, 53, 0.9) 40%, rgba(249, 109, 11, 0.6)), url(../img/contact.jpg);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.contact .contact-content .left p{
    text-align:justify;
}
.contact .left .icons{
    margin: 30px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 100%;
    align-items: center;
    margin: 20px;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
  font-size: 25px;
  color: #fff;
}
.contact .contact-content .info .head{
    font-weight: 500;
    text-transform: uppercase;
    color: crimson;
}
.contact .contact-content .info .sub-title{
    color: #fff;
    text-transform: uppercase;
}
.contact .contact-content .info .email{
    text-transform: lowercase;
}
.contact .right form .fields{
    display: flex;

}
.contact .right .text{

    margin-top: -150px;
    text-transform: capitalize;
}


.contact .right form .field,
.contact .right .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 20px;

}

.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 45px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'poppins', 'sans-serif';

}
.contact .right form .textarea textarea{
    height: 150px;
    resize: none;

}
.contact .right form .button{
    height: 47px;
    width: 100%;

}
.contact .right form .button button{
    width: 170px;
    height: 100%;
    margin-top: 110px;
    border: 2px solid crimson;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background: crimson;
    color: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    background: none;
    color: crimson;
    cursor: pointer;
}

    /* footer Section Styling Start */

    footer{
       background: #111;
       padding: 20px 23px;
       color: #fff;
       text-align: center;
       padding: 40px 0;
    }
    footer span a{
        color: crimson;
    }
    footer span a:hover{
        text-decoration: underline;
    }
    footer ul{
        list-style: none;
        display: flex;
        justify-content: center;
    }
    footer ul li{
      margin: 10px;
    }
    footer p{
        margin-top: 18px;
        margin-right: 10px;
        color: crimson;
    }
    footer ul li a i{
        background:#fff;
        width: 40px;
        height: 40px;
        padding: 10px;
        color: crimson;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all 0.8s ease;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
}
footer ul li a:hover i{
    transform: rotate(360deg);
    background: crimson;
    color: #fff;
}


    /* ScollTop Styling */

    #back-to-top-btn {
        display: none;
        position: fixed;
        bottom: 16px;
        right: 20px;
        font-size: 26px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        color: #333;
        cursor: pointer;
        outline: none;
        border: 3px solid #333;
        border-radius: 50%;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-property: background-color, color;
      }
      #back-to-top-btn:hover, #back-to-top-btn:focus {
        background-color: #333;
        color: #fff;
      }





